.floating-card{


position:absolute;


right:18%;

top:25%;


display:flex;

align-items:center;

gap:15px;


padding:18px 25px;


background:

rgba(255,255,255,.08);


border:

1px solid rgba(255,255,255,.15);


border-radius:20px;


backdrop-filter:blur(20px);


box-shadow:

0 0 40px rgba(124,58,237,.25);


animation:

cardFloat 5s ease-in-out infinite;


}


.card-icon{


font-size:28px;


}


.floating-card h3{


margin:0;

color:white;

font-size:16px;


}


.floating-card p{


margin:5px 0 0;


color:#9ca3af;


font-size:13px;


}



@keyframes cardFloat{


0%{

transform:translateY(0);

}


50%{

transform:translateY(-20px);

}


100%{

transform:translateY(0);

}


}